@import bourbon
@import vars.sass

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.icon-serv
	display: inline-block
	width: 50px
	height: 50px

.slide
	img 
		margin: 0 15px 0

.s-client
	min-height: 300px

.tel, .mail
	display: inline-block
	a
		color: #fff
		text-decoration: none
		border-bottom: 1px dashed #fff
	div:first-of-type
			font-size: em(25px)
			font-family: 'UbuntuBold', sans-serif
	div:last-of-type
			padding-left: 55px



.footer
	min-height: 30px
	margin: 45px 0px

.icon-soc-seti
	margin-left: 10px

.zero
	font-size: 0px

.right
	text-align: right

.center
	text-align: center
	
.left
	text-align: left

.icon 
	display: inline-block
	width: 30px
	height: 30px
	stroke-width: 0
	stroke: currentColor
	fill: #3fa9ba

.icon-contact
	fill: #fff
	width: 35px
	height: 35px
	margin-right: 20px
	
	


//ALWAYS END
@import media

//Load Libs SASS
@import app/libs/animate/animate.sass
